extends layout

block content
  div
    h3 #{title}
    h5.small About

    div
        p Amazon Alexa and the ScreenLogic interface for Pentair's IntelliTouch and EasyTouch pool/spa control systems work together to help you set the perfect pool or spa temperature without having to lift a finger.
        p You can also turn your various circuits (pool, spa, waterfall, lights, etc) on or off with your voice.
        p There's no need to hunt for your wireless remote or iOS/Android device - just talk to Alexa on your Amazon Echo, Fire TV, Echo Dot or Tap.
        p After connecting Alexa to your Pentair IntelliTouch or EasyTouch control system (with ScreenLogic) in a few simple steps, just say commands like "Alexa, ask Pentair to turn on my Waterfall.", or "Alexa, ask Pentair what my pool temperature is."
