extends layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading Authorize Skill
        div.panel-body
          form(action=action, method="POST", autocomplete="off")
            input(type="hidden", name="_csrf", value=_csrf)
            input(type="hidden", name="redirect", value=redirect)
            input(type="hidden", name="client_id", value=client_id)
            input(type="hidden", name="state", value=state)
            input(type="hidden", name="response_type", value=response_type)
            input(type="hidden", name="redirect_uri", value=redirect_uri)
            div.form-group
              label Do you authorize ScreenLogic Alexa Skill to access your devices?
            if error
              div.alert.alert-warning #{error}
            input(name="allow", type="submit", class="btn btn-primary btn-block", value="yes")
            input(name="allow", type="submit", class="btn btn-primary btn-block", value="no")
