extends layout

mixin validator_form_group(grp)
  if errors
    if errors[grp]
      div.form-group.has-error
        block
        span.help-block #{errors[grp]}
    else
      div.form-group
        block
  else
    div.form-group
      block


block content
  div
    h3 Welcome, #{isLoggedIn}
    h5.small Edit your pool control device alias and credentials
    div.row
      div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        div.panel.panel-default
          div.panel-heading Edit your protocol adapter
          div.panel-body
            form(action=action, method="POST", autocomplete="off")
              input(type="hidden", name="_csrf", value=_csrf)
              input(type="hidden", name="_id", value=_id)
              +validator_form_group("alias")
                label(for="devAlias") Pool name
                div.input-group
                  input.form-control#devAlias(type="text", name="alias", value=alias, placeholder="e.g. backyard, home etc")
                  div.input-group-addon pool
              +validator_form_group("device_id")
                label(for="devId") Protocol adapter Address 
                input.form-control#devId(type="text", name="device_id", value=device_id, placeholder="__-__-__")
              +validator_form_group("password")
                label(for="devPass") Protocol adapter Password
                input.form-control#devPass(type="text", name="password", value=password, placeholder="Enter if password has been set on adapter")
              div
                div.checkbox
                  label(for="devEnabled")
                    if enabled
                      input#devEnabled(type="checkbox", name="enabled", checked="checked")
                    else
                      input#devEnabled(type="checkbox", name="enabled")
                    ="Let Alexa access this device"
              if error
                div.alert.alert-warning #{error}
              input(name="submit", type="submit", class="btn btn-primary btn-block", value="Save")

              p
              p.text-center or

            form(action="/profile/del/" + _id, method="GET", autocomplete="off")
              div.form-group
                label(for="devDelete") Remove this device from your list
                input#devDelete(type="submit", class="btn btn-primary btn-block", value="Remove")
            script(src="/js/jquery.maskedinput.min.js")
            script.
              $.mask.definitions['h'] = "[A-Fa-f0-9]";
              $("#devId").mask("hh-hh-hh",{placeholder:"__-__-__"});