extends layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading Device removal
        div.panel-body
          form(action=action, method="POST", autocomplete="off")
            input(type="hidden", name="_csrf", value=_csrf)
            input(type="hidden", name="_id", value=_id)
            div.form-group
              label Do you really want to remove device '#{alias}' from your list?
            if error
              div.alert.alert-warning #{error}
            input(name="remove", type="submit", class="btn btn-primary btn-block", value="yes")
            input(name="remove", type="submit", class="btn btn-primary btn-block", value="no")
