extend layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading Create a new password
        div.panel-body
          form(action="/forgot-password/#{token}", method="POST", autocomplete="off")
            input(type="hidden", name="_csrf", value=_csrf)
            div.form-group
              label(for="password") Password
              input.form-control(type="password", id="password", name="password", placeholder="New password")
            div.form-group
              label(for="passconfirm") Confirm password
              input.form-control(type="password", id="passconfirm", name="passconfirm", placeholder="Confirm your password")
            if error
              div.alert.alert-warning #{error}
            input(type="submit", class="btn btn-primary btn-block", value="Submit")
