doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body

    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href="/")
            img.navbar-logo(alt="Home", src="/images/logo.png")

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          div.navbar-left
            
          if isLoggedIn
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/about") About
              li.dropdown
                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") #{isLoggedIn}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/profile") My profile
                  li
                    a(href="/profile/add") Add device
                  li.divider(role="separator")
                  if isLinked
                    if isLinkEnabled
                      li
                        a(href="/profile/unlink") Unlink my Alexa
                    else
                      li
                        a(href="/profile/link") Link my Alexa

                  li
                    a(href="/logout") Logout
          else
            div.navbar-right
              div.btn-group
                a.btn.navbar-btn(class=(originalUrl==='/login'?'btn-primary':'btn-default'),href="/login") Login
                a.btn.navbar-btn(class=(originalUrl==='/signup'?'btn-primary':'btn-default'),href="/signup") Sign up

    div.container
      block content

    footer.footer
      div.container
        p.text-muted
          script.
            var date = new Date().getFullYear()
            var rights = '(c) ' + date + ' Pentair'
            document.write(rights)

