extend layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-warning
        div.panel-heading Note
        div.panel-body If you are a new user signing up for the first time, please click the 
          a(href="/signup") Sign Up 
          =" button."
      div.panel.panel-default
        div.panel-heading Login
        div.panel-body
          form(method="POST", autocomplete="off")

            input(type="hidden", name="_csrf", value=_csrf)
            div.form-group
              label(for="name") Email address
              input.form-control(type="text", id="login", name="login", value=login, placeholder="Your email address")
            div.form-group
              label(for="password") Password
              input.form-control(type="password", id="password", name="password", placeholder="Your password")
            if error
              div.alert.alert-warning #{error}
            input(type="submit", class="btn btn-primary btn-block", value="Login")
            div.text-center or
            a.btn.btn-primary.btn-block(href="/signup") Sign Up
          div.text-center(style="margin-top: 15px;")
            small: a(href="/forgot-password") Forgot Password?
