extends layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-success
        div.panel-heading Email is verified
        div.panel-body Please 
          a(href="/login") login
          =" and add your first device to start using it with Amazon Echo."
