- var vormated_dt = 123;
- var title = "Express.js Guide"
extends layout



block content
  div
    h3 Messages
    //- h5.small Messages list
    if error
      p.bg-warning #{error}
    if success
      p.bg-success #{success}

    if typeof messages[0] !== 'undefined'
      div.row
        div.col-sm4
          div.panel.panel-default
            //- div.panel-heading
              //- h3.panel-title Your messages
            div.panel-body
              ul.list-group
                each message in messages
                  div(style="margin-bottom: 30px;")
                    h3 #{message.title}
                    p #{message.body}
                    p #{moment(message.dt).format('dddd, MMMM DD YYYY, h:mm:ss')}
                    a(href="/messages/edit/"+message._id) 
                      span(aria-hidden="true").glyphicon.glyphicon-pencil
                      =" edit"
                    hr
                      
    else
      div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        div.panel.panel-danger
          div.panel-heading Messages list is empty
          div.panel-body Not a single message.
