extends layout

mixin validator_form_group(grp)
  if errors
    if errors[grp]
      div.form-group.has-error
        block
        span.help-block #{errors[grp]}
    else
      div.form-group
        block
  else
    div.form-group
      block


block content
  div
    div.row
      div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        div.panel.panel-default
          div.panel-heading Add message
          div.panel-body
            form(action=action, method="POST", autocomplete="off")
              input(type="hidden", name="_csrf", value=_csrf)
              +validator_form_group("title")
                label.control-label(for="messageTitle") Title
                div.input-group(style="width: 100%")
                  input.form-control#messageTitle(type="text", name="title", value=message_title)
              +validator_form_group("body")
                label.control-label(for="messageBody") Body
                div.input-group(style="width: 100%")
                  textarea.form-control#messageBody(type="text", name="body") #{message_body}
              if error
                div.alert.alert-warning #{error}
              input(name="submit", type="submit", class="btn btn-primary btn-block", value="Add")

