extends layout

mixin validator_form_group(grp)
  if errors
    if errors[grp]
      div.form-group.has-error
        block
        span.help-block #{errors[grp]}
    else
      div.form-group
        block
  else
    div.form-group
      block


block content
  div
    div.row
      div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        div.panel.panel-default
          div.panel-heading Edit message №#{_id}
          div.panel-body
            form(action=action, method="POST", autocomplete="off")
              input(type="hidden", name="_csrf", value=_csrf)
              input(type="hidden", name="_id", value=_id)
              +validator_form_group("title")
                label(for="Title") Title
                div.input-group(style="width: 100%")
                  input.form-control#messageTitle(type="text", name="title", value=message_title)
              +validator_form_group("device_id")
                label(for="messageBody") Body
                div.input-group(style="width: 100%")
                  textarea.form-control#messageBody(type="text", name="body") #{message_body}
              if error
                div.alert.alert-warning #{error}
              input(name="submit", type="submit", class="btn btn-primary btn-block", value="Save")
              p
              p.text-center or

            form(action="/messages/del/" + _id, method="GET", autocomplete="off")
              div.form-group
                label(for="devDelete") Remove this message
                input#devDelete(type="submit", class="btn btn-primary btn-block", value="Remove")
