extends layout

mixin add_status_badge(device)
  span.pull-right &nbsp;
  span.pull-right.badge
    if device.enabled
      span(aria-hidden="true").glyphicon.glyphicon-flash.dev-status-enabled
    else
      span(aria-hidden="true").glyphicon.glyphicon-flash.dev-status-disabled
    if isLinked && isLinkEnabled
      span(aria-hidden="true").glyphicon.glyphicon-link.dev-status-enabled
    else
      span(aria-hidden="true").glyphicon.glyphicon-link.dev-status-disabled
    if device.isAvailable
      span(aria-hidden="true").glyphicon.glyphicon-ok.dev-status-enabled
    else
      span(aria-hidden="true").glyphicon.glyphicon-ok.dev-status-disabled




block content
  div
    h3 Welcome, #{isLoggedIn}
    h5.small Here you can manage your pool/spa control systems
    if error
      p.bg-warning #{error}
    if success
      p.bg-success #{success}

    if typeof devices[0] !== 'undefined'
      div.row
        div.col-sm4
          div.panel.panel-default
            div.panel-heading
              h3.panel-title Your systems:
            div.panel-body
              ul.list-group
                each device in devices
                  a.list-group-item.action(href="/profile/edit/#{device._id}")
                    =device.alias
                    span(aria-hidden="true").glyphicon.glyphicon-menu-right.pull-right
                    +add_status_badge(device)
        div.text-center
            a.btn.btn-success(href="/profile/add") Add device
    else
      div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        div.panel.panel-danger
          div.panel-heading Your device list is empty
          div.panel-body You have no device added, please use "Add device" button to let Alexa manage your pool.
          div.text-center(style="margin-bottom: 15px;")
            a.btn.btn-success(href="/profile/add") Add device
