extend layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading Sign Up
        div.panel-body
          form(action="/signup", method="POST", autocomplete="off")
            input(type="hidden", name="_csrf", value=_csrf)
            div.form-group
              label(for="name") Username
              input.form-control(type="text", id="name", name="name", value=name, placeholder="Pick a username")
            div.form-group
              label(for="email") Email address
              input.form-control(type="email", id="email", name="email", value=email, placeholder="Your email address")
            div.form-group
              label(for="password") Password
              input.form-control(type="password", id="password", name="password", placeholder="Create a password")
            div.form-group
              label(for="passconfirm") Confirm password
              input.form-control(type="password", id="passconfirm", name="passconfirm", placeholder="Confirm your password")
            if error
              div.alert.alert-warning #{error}
            input(type="submit", class="btn btn-primary btn-block", value="Sign Up")
            div.text-center or
            a.btn.btn-primary.btn-block(href="/login") Login
//          div.text-center(style="margin-top: 15px;")
//            small: a(href="/signup/resend-verification") Resend email
