extends layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-success
        div.panel-heading Sing up
        div.panel-body Verification email sent. Please follow the simple instructions in the email.
