body > .container {padding: 60px 15px 0;}
.navbar-logo { height: 100%; }

/* footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.dev-status-enabled {
    color: lightgreen !important;
}

.dev-status-disabled {
    color: lightgray !important;
}

.navbar-logo {
    width: 80px;
    height: 20px;
}